#sideNav {
	height: 100%;
	position: relative;
}

#avatar {
	padding-bottom: 10px;
}

#banner {
	width: 100%;
}

#searchBanner {
	width: 100%;
	height: 705;;
}

#usersTable {
	margin-top: 50px;
}

#deleteIcon {
	color: red;
}

.myDocument {
	width: 70%;
	height: 80vh;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	padding-top: 20px;
	padding-left: 30px;
}

.card {
	cursor: pointer;
	color: blue;
	word-wrap: break-word;
}

.profile {
	padding-top: 20px;
	padding-left: 70px;
}

.profileForm {
	margin-left: 100px;
}

#topbarsearch .input-field .prefix { 
	width:0rem !important;    
}

#topbarsearch nav ul li:hover, nav ul li.active {
	background-color: none !important;
}
.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content{
	margin-left: 1rem !important;
}

#autocomplete-input {
	color: black;
	margin-left: -106px;
}

#searchIcon {
	color: white;
	margin-top: 17px;
	width: 50px;
	height: 50px;
}

#searchDiv {
	margin-top: 25px;
}


.modal {
	max-height: 85%;
}

.micon {
	margin-right: -15px;
	height: 20px;
}
.tabs .tab a.active {
  color: #000;
  font-weight: bold;
}

.tabs .tab a:hover {
  color: #212121;
}

.tabs .tab a {
  color: #9e9e9e;
}

.tabs .indicator {
    background-color: #bdbdbd;
}

#logo_title {
	margin-left: 100px;
}

#menu_icon {
	margin-left: 100px;
}

#fixedbutton {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#icon {
	margin-top: 10px;
	margin-left: 20px;
	width: 20%;
	height: 20%;
}

#deleteIcon {
	height: 20px;
	width: 20px;
}

#side_icon {
	margin-top: 10px;
	margin-left: 20px;
	width: 18%;
	height: 18%;
	margin-left: 60px;
}

#menu_icon {
	margin-top: 8px;
	margin-left: 5px;
	width: 10%;
	height: 10%;
}

#side_title {
	margin-left: 70px;
	font-size: 15px;
}

#docImg{
	height: 100%;
}

#aboutDiv{
	margin-top: 80px;
}

#docIcon {
	margin-top: 50px;
}

.errorMsg {
	color: red;
}

.divBox {
	margin-top: 20px;
	border-style: solid;
	border-width: 1px;
	padding-top: 50px;
	padding-bottom: 50px;
}

#loginBox {
	margin-top: 80px;
}

#signUpBox {
	margin-top: 50px;
	margin-bottom: 50px
}

.input-field input[type=text]:focus + label {
	color: #1565c0;
}

.input-field input[type=text]:focus {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}

.card-title {
	color: black;
}

.container {
	width: 70%;
}

.loginContainer {
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}

.edit {
	color: #1565c0;
}

.delete {
	margin-left: -3%;
	color: #e53935;
}

#docList {
	margin-top: 50px;
}

.tabs-content.carousel .carousel-item {
	height: 650px;
}

.cardz {
	height: 280px;
}

.cardzIcon {
	margin-top: 2px;
	margin-bottom: 2px;
}

.page-footer {
	background-color:#212121;
}
.content {
	min-height: calc(100vh - 70px);
}

#contentDiv {
	padding-left: 5%;
}

.docContent > p {
  width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#footerText{
	color: #424242;
}

#recDoc{
	margin-top: 50px;
	margin-bottom: 50px;
}
